{% extends "base.html.twig" %}

{% block titre_page %}Login{% endblock %}

{% block supra_content %}

<section class="">
    <div class="container-fluid">
        <div class="row" style="margin-top: 10%;">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            <div class="card">
                <div class="header bg-cyan align-center">
                    <h2>
                        Connexion
                    </h2>
                </div>
                <div class="body align-center">
                    <form action="{{ path('login') }}" method="post">
                        <input type="text" placeholder="Nom d'utilisateur" class="form-control" name="_username" required />
                        <br/>
                        <input type="password" placeholder="Mot de passe" class="form-control" name="_password" required />
                        <br/>
                        <button type="submit" class="btn waves-effect btn-lg bg-light-green">Se connecter</button>
                        <a href="{{ path('loginMy') }}" class="btn waves-effect btn-lg bg-indigo">Connexion via MyCA</a>
                        <a href="{{ path('registration') }}" class="btn waves-effect btn-lg bg-amber"> Créer un compte </a>
                    </form>

                </div>

            </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</section>
{% endblock %}
