

{% extends 'base.html.twig' %}

{% block page_css %}
    <style>
        .login_body{
            background: lightgrey;
            width: 100%;
            height: 100%;
        }
    </style>
{% endblock %}

{% block titre_page %}{% if is_granted('ROLE_USER') %}TEST{% else %}Login{% endif %}{% endblock %}

{% block additionnal_body_class %}{% if is_granted('ROLE_USER') %}{% else %}login_body{% endif %}{% endblock %}

{% block content %}
    {% if is_granted('ROLE_USER') %}
        On liste les challenges
    {% else %}
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="card col-md-4">
                <div class="cheader bg-brown align-center">
                    <h2>
                        Login
                    </h2>
                </div>

                <div class="body align-center">
                    <input type="text" placeholder="Username"/>
                    <br/>
                    <input type="text" placeholder="Password"/>
                    <br/>
                    <br/>
                    <button type="submit">Login</button>
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    {% endif %}
{% endblock %}
