<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body
            {% block additionnal_body_block %}
            {% endblock %}
            class="theme-indigo
            {% block additionnal_body_class %}
            {% endblock %}">
    </body>
</html>
