{% extends 'base.html.twig' %}

{% block content %}
    <h1 class="text-center">
        Bienvenue sur Leaderboard !
    </h1>
    <div class="text-center">
        Sur ce site, tu pourra trouver divers challenges proposés par les autres utilisateurs, et tenter d'y répondre.<br/>
        <br/>
    </div>

    <div class="row">

        <a href="{{ path('challenge') }}">
            <div class="col-lg-offset-4 col-md-4">
                <div class="info-box-3 link-btn bg-cyan hover-zoom-effect">
                    <div class="icon">
                        <i class="fas fa-th-list"></i>
                    </div>
                    <div class="content">
                        <h3>La liste des challenges</h3>
                    </div>
                </div>
            </div>
        </a>

    </div>

    <div class="row">
        <a href="{{ path('classement') }}">
            <div class="col-lg-offset-4 col-md-4">
                <div class="info-box-3 link-btn bg-cyan hover-zoom-effect">
                    <div class="icon">
                        <i class="fas fa-trophy"></i>
                    </div>
                    <div class="content">
                        <h3>Le classement des utilisateurs</h3>
                    </div>
                </div>
            </div>
        </a>
    </div>


{% endblock %}
